<section id="post">
  
    <em class="center">Want to get new posts delivered every week or so? Subscribe below!</em>
    <div class="centerWrap">
      <form
        action="https://buttondown.email/api/emails/embed-subscribe/LeveredLife"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/LeveredLife', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <label for="bd-email"></label>
        <input class="contactInput" type="email" name="email" id="bd-email" placeholder="Email (Weekly-ish Newsletter)">
        <input type="hidden" value="1" name="embed"/>
        <input class="submitButton" type="submit" value="Subscribe" />

      </form>
    </div>
</section>