<section id="post">
    <em>Want to get new posts delivered every week or so? Subscribe below!</em>
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/LeveredLife"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/LeveredLife', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <label for="bd-email"></label>
      <input class="contactInput" type="email" name="email" id="bd-email">
      <input type="hidden" value="1" name="embed"/>
      <input class="submitButton" type="submit" value="Subscribe" />

    </form>
</section>