//General
.submitButton {
	display: inline-block;
	margin: 5px auto;
	font-family: $body-font;
	text-decoration: none;
	cursor: pointer;
	outline: none;
    color: $background;
    background-color: $title-color;
    font-weight: 400;
    font-size: 18px;
    padding: 12px;
    text-align: center;
    border: 0;
}
.submitButton:hover {
    background-color: $text-color;
}

.contactInput {
    display: inline-block;
    font-family: $body-font;
    margin: 10px 10px 10px 0px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: $text-color;
    background-color: $background;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    border: 3px solid $title-color;
    min-width: 220px;
    padding: 9px 12px;
    width: 30%;
}