<section id="post">
		<div class="pagination">
		<p class="center">
		  {% if paginator.previous_page %}
		    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
		  {% else %}
		    <span class="previous">Previous</span>
		  {% endif %}
		  <span>  |   </span>
		  <em><span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span></em>
		  <span>  |   </span>
		  {% if paginator.next_page %}
		    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
		  {% else %}
			<span class="next ">Next</span>
		  {% endif %}
		</p>
		</div>