<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
		</head>
		<body>
			<nav id="slide-menu">
		        <ul>
		            <a href="/"><li>Home</li></a>
		            <a href="#"><li>About</li></a>
		            <a href="#"><li>Twitter</li></a>
		            <a href="#"><li>Facebook</li></a>
		            <a href="http://robs.im"><li>Portfolio</li></a>
		            <a href="http://dribbble.com/RobSim"><li>Dribbble</li></a>
		        </ul>
		    </nav>
			<div class="container">
				<div id="content">
	    			<div class="menu-trigger"></div>
				
					{{ content }}
				
				</div><!-- /#content -->
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:test@email.com">email (fix)</a></li>
	        		<li><a href="https://google.com">Other link</a></li>
				</ul>
			</footer>
			<script src="../js/min/nav-ck.js"></script>
			<script scr="//cdnjs.cloudflare.com/ajax/libs/retina.js/1.0.1/retina.js"></script>
		</body>
	</html>